@model BasePagination<App.Domain.Entities.Media>

@{
    ViewData["Title"] = "Bộ sưu tập";
    var nextPageEnable = Model.Page == Model.TotalPage ? "disabled" : "";
    var previousPageBtnEnable = Model.Page > 1 ? "" : "disabled";
    var previousPageLink = $"/media/collection?page={Model.Page - 1}";
    var nextPageLink = $"/media/collection?page={Model.Page + 1}";
}

<div class="col-10 right-div" style="margin-top: 24px;">

    <h3 style="text-align:center; color: white">Bài hát được yêu thích</h3>

    <!-- Create a row for 5 cards per row -->
    <div class="card-list-container row d-flex" style="justify-content: flex-start;">
        @foreach (var item in Model.Items)
        {
            <!-- Use col-2 for five cards in a row and add margin for spacing -->
            <div class="col-2 d-flex justify-content-center mb-4">
                <partial name="./Common/Media/_musicCardTemplatePartial" model=@item />
            </div>
        }
    </div>

    <!-- Pagination controls -->
    <div class="d-flex justify-content-end mt-3">
        <a href="@previousPageLink" class="page-link rounded-3 @previousPageBtnEnable">Previous</a>
        <div class="page-link page-number rounded-3 text-black">@Model.Page / @Model.TotalPage</div>
        <a href="@nextPageLink" class="page-link rounded-3 @nextPageEnable">Next</a>
    </div>

</div>




<style>
    .page-link {
        width: 120px;
        text-align: center;
    }

    .page-number {
        width: auto;
        text-align: center;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
        color: gray;
    }
</style>