@{
    var data = ViewBag.Data;
    var nextPageEnable = data.Page == data.TotalPage ? "disabled" : "";
    var previousPageBtnEnable = data.Page > 1 ? "" : "disabled";
    var previousPageLink = $"/media/manage?searchText={ViewData["searchText"]}&page={data.Page - 1}";
    var nextPageLink = $"/media/manage?searchText={ViewData["searchText"]}&page={data.Page + 1}";
    var roleClaim = User.Claims.FirstOrDefault(p => p.Type == "role");
    var isAdminRole = roleClaim != null && roleClaim.Value == "admin";
    ViewData["ManagePage"] = isAdminRole ? "text-dark" : "";
    ViewData["Title"] = isAdminRole ? "Quản trị bài hát" : "Danh sách bài hát";
}

<div class="col-10" style="margin-bottom: 44px; margin-top: 24px">
<div class="content-container">
    <h3 style="text-align:center; color: white">Danh sách bài hát</h3>
    @if (isAdminRole)
    {
        <div class="d-flex flex-row-reverse">
            <a style="width: 100px;" class="d-block rounded-3 btn btn-success mx-1" href="/media/add">Thêm</a>
        </div>
    }
    <table class="table" style="background-color: white; border-radius: 4px;">
        <thead>
            <tr>
                <th scope="col">Số thứ tự</th>
                <th scope="col">Tên bài hát</th>
                <th scope="col">Ngày phát hành</th>
                <th scope="col">Tên tác giả</th>
                <th scope="col">Tên thể loại</th>
                @if (isAdminRole)
                {
                    <th scope="col">Hành động</th>
                }
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < data.Items.Count; i++)
            {
                var item = data.Items[i];
                var index = i + 1 + (data.Page - 1) * data.PageSize;
                <tr>
                    <td scope="row">
                        @index
                    </td>
                    <td>
                        <a href="/media/play?id=@item.Id" class="text-dark">@item.Name</a>
                    </td>
                    <td>
                        @item.CreatedAt.ToString("dd-MM-yyyy")
                    </td>
                    <td>
                        <a href="/author/getdetail?id=@item.AuthorId" class="text-dark">@item.Author?.Name</a>
                    </td>
                    <td>
                        <a href="/category/getdetail?id=@item.CategoryId" class="text-dark">@item.Category?.Name</a>
                    </td>
                    @if (isAdminRole)
                    {
                        <td class="d-flex">
                            <a class="d-block rounded-3 btn btn-primary mx-1" href="/media/play?id=@item.Id">Nghe</a>
                            <a class="d-block rounded-3 btn btn-warning mx-1" href="/media/update?id=@item.Id">Sửa</a>
                            <a class="d-block rounded-3 btn btn-danger mx-1" href="/media/delete?id=@item.Id">Xóa</a>
                        </td>
                    }
                </tr>
            }
        </tbody>

    </table>
    <div class="d-flex justify-content-end">
        <a href="@previousPageLink" class="page-link rounded-3 @previousPageBtnEnable">Trang trước</a>
        <div class="page-link page-number rounded-3 text-black">@data.Page / @data.TotalPage</div>
        <a href="@nextPageLink" class="page-link rounded-3 @nextPageEnable">Trang sau</a>
    </div>

</div>
</div>

<style>
    .page-link {
        width: 120px;
        text-align: center;
    }

    .page-number {
        width: auto;
        text-align: center;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
        color: gray;
        text-decoration: none;
    }
</style>