@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PoplyMusic</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/explorer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login-form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mp3.mvc.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
    @{
        var roleClaim = User.Claims.FirstOrDefault(p => p.Type == "role");
        var avatarClaim = User.Claims.FirstOrDefault(p => p.Type == "avatarUrl");
        var avatarUrl = avatarClaim != null ? avatarClaim.Value : "/images/avatars/empty.jpg";
        var isAdminRole = roleClaim != null && roleClaim.Value == "admin";
        var isPremiumAccount = roleClaim != null && roleClaim.Value == "premium";
        var isAuthen = User != null && User.Identity != null && User.Identity.IsAuthenticated;
        var userId = User?.Claims.FirstOrDefault(p => p.Type == ClaimTypes.NameIdentifier)?.Value;
    }

    <div class="Homeinterface-Top">
        <div class="Homeinterface-Banner">
            <div class="Homeinterface-Banner-Logo">
                <p class="Homeinterface-Banner-Logo-P">
                    <a href="/Home/Index">
                        <img src="~/images/logo.png">
                    </a>
                </p>
            </div>
            <div class="Homeinterface-Header-Seach" id="menu">
                <button class="homes-buttons">
                    <div href="/Home/Index" style="color: black">
                        <i class="fas fa-home"></i>
                    </div>
                </button>
                <div class="Banner_Seach_Text">
                    <form class="d-flex hover-text" asp-controller="home" asp-action="searchAction" method="post">
                        <input name="searchText" class="form-control me-2" type="search" placeholder="Tên bài hát, ca sĩ,..." aria-label="Search">
                    </form>
                </div>
            </div>
            <div class="Homeinterface-Banner-Icon">

                <div class="Icon-blocl">
                    @if (!isAdminRole)
                    {
                        <p class="premium">
                            <a style="color: black;font-weight:700;" href="/Media/Premium">Khám phá Premium</a>
                        </p>
                    }
                    <a href="#" class="premiums" style="color:white;">Cài đặt ứng dụng</a>
                </div>

                <div class="block-action">

                    <div class="Homeinterface-Banner-Icon-Bell">
                        <a href="#" title="Thông báo">
                            <i class="fa-solid fa-bell" style="color: #ffffff; font-size: 24px"></i>
                        </a>
                    </div>
                    <div class="Homeinterface-Banner-Icon-User">

                        @{
                            if (isAuthen)
                            {
                                <div class="d-flex justify-content-center dropdown">
                                    <img class="avatar hover-text bg-info rounded-circle mx-1" id="navbarDropdown" aria-expanded="false" data-bs-toggle="dropdown" style="width: 40px; max-height:40px;" src="@avatarUrl" />
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="/user/getDetailProfile?id=@userId">Thông tin tài khoản</a></li>
                                        <li><a class="dropdown-item" href="/media/history">Lịch sử nghe</a></li>

                                        @if(!isAdminRole && isPremiumAccount)
                                        {
                                            <li><a class="dropdown-item" href="/Media/PersonalMediaList">Kho nhạc cá nhân</a></li>
                                        }

                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" href="/user/logout">Đăng xuất</a></li>
                                    </ul>
                                </div>
                            }
                            else
                            {

                                <div class="nav-item">
                                    <a class="nav-link" href="#">
                                        <i class="fa-solid fa-user-gear" style="color: #ffffff; font-size: 24px"></i>
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="/User/Login">Đăng nhập</a></li>
                                        <li><a class="dropdown-item" href="/User/Register">Đăng ký</a></li>
                                    </ul>
                                </div>
                            }
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="content-body">
        <div class="container-fluid">
            <div class="row">
                <!-- Khối trái (chiếm 4 cột) -->
                <div class="col-2 left-div">
                    <ul class="nav flex-column custom-menu">
                        <li class="nav-item">
                            <a class="nav-link @ViewData["SelectHome"]" href="/Home/Index">
                                <i class="fas fa-home" style="font-size: 24px"></i>  Trang Chủ
                            </a>
                        </li>

                      @*   <li class="nav-item">
                            <a class="nav-link" @ViewData["ExplorePage"]" href="/home/search">
                                <i class="fas fa-concierge-bell" style="color: #ffffff; font-size: 24px"></i>  Tìm kiếm
                            </a>
                        </li> *@

                        <li class="nav-item">
                            <a class="nav-link @ViewData["SelectCollection"]" href="/media/collection">
                                <i class="fas fa-box" style="font-size: 24px"></i>  Thư viện
                            </a>
                        </li>
                        @if (isAuthen && isAdminRole)
                        {
                            <li class="nav-item dropdown hover-text">
                                <a class="nav-link dropdown-toggle text-light @ViewData["ManagePage"]"
                                   href="#" id="navbarDropdown"
                                   role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false"
                                   style="color: white">
                                    Quản trị
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/media/add">Tải lên</a></li>
                                    <li><a class="dropdown-item" href="/user/manage">Người dùng</a></li>
                                    <li><a class="dropdown-item" href="/user/GetListUpgradePremiumRequest">Tài khoản Premium</a></li>
                                    <li><a class="dropdown-item" href="/media/manage">Bài hát</a></li>
                                    <li><a class="dropdown-item" href="/author">Ca sĩ</a></li>
                                    <li><a class="dropdown-item" href="/category">Thể loại</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                @RenderBody()
            </div>
        </div>
    </div>

    <footer id="footercontent">
        <div class="container-fluid">

            <div class="row">
                <div class="col" id="company">
                    <img src="/Album/BoCuc/z3398273747863_81c41ce47a59fbf2a5832130c0d3308e.jpg" alt="" class="logo" />
                    <p>
                        Khám phá thế giới âm nhạc không giới hạn, nơi mọi cảm xúc được thăng hoa và mọi giai điệu đều chạm đến trái tim. Tại đây Poply Music, bạn có thể dễ dàng tìm thấy những bản nhạc yêu thích từ mọi thể loại – từ các bản hit đình đám cho đến những giai điệu indie độc đáo ...
                    </p>
                    <!-- HTML Structure -->
                    <div class="social">
                        <a href="https://www.facebook.com" target="_blank" aria-label="Facebook">
                            <img src="/images/icons/facebook.png" width="24">
                        </a>
                        <a href="https://www.instagram.com" target="_blank" aria-label="Instagram">
                            <img src="/images/icons/instagram.png" width="24">
                        </a>
                        <a href="https://www.youtube.com" target="_blank" aria-label="YouTube">
                            <img src="/images/icons/youtube.png" width="24">
                        </a>
                        <a href="https://www.tiktok.com" target="_blank" aria-label="TikTok">
                            <img src="/images/icons/tiktok.png" width="24">
                        </a>
                    </div>

                </div>
                <div class="col" id="services">
                    <h3>Công ty</h3>
                    <div class="links">
                        <a href="/Home/IntroMusic">Giới thiệu </a>
                        <a href="/Home/Policy">Chính sách</a>
                        <a href="/Home/Privacy">Điều khoản dịch vụ</a>
                    </div>
                </div>
                <div class="col" id="useful-links">
                    <h3>Cộng đồng</h3>
                    <div class="links">
                        <a href="#">Dành cho các nghệ sĩ</a>
                        <a href="#">Nhà phát triển</a>
                        <a href="#">Quảng cáo</a>
                        <a href="#">Nhà đầu tư</a>
                        <a href="#">Nhà cung cấp</a>
                    </div>
                </div>
                <div class="col" id="useful-links">
                    <h3>Liên kết hữu ích</h3>
                    <div class="links">
                        <a href="#">Hỗ trợ</a>
                        <a href="#">Ứng dụng di động miễn phí</a>
                    </div>
                </div>
                <div class="col" id="useful-links">
                    <h3>Các gói của Poply Musics</h3>
                    <div class="links">
                        <a href="/media/premium">Gói cơ bản</a>
                        <a href="/media/premium">Gói cao cấp</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
