@if (Model != null && Model?.Count > 0)
{ 
    <ul class="song-list">
        @for (int i = 0; i < Model?.Count; i++)
        {
            var item = Model[i];
            var index = i + 1;

            <li class="song-item position-relative">
                <div class="song">
                    <a class="song-info" href="/author/getdetail?id=@item.Id">
                        <span style="color: white; width: 20px;" >@index</span>
                       
                        <img src="@item.AvatarUrl"/>
                        <span class="artist"> @item.Name</span>
                    </a>
                    <div class="song-album">
                        @item.NumberOfTracks
                    </div>
                    <div class="song-album">
                        @item.Views
                    </div>
                    
                </div>
            </li>
       }
    </ul>
}
else
{
    <p style="color: white">Không có nghệ sĩ nào trong danh sách.</p>
} 