@{
    var id = Guid.NewGuid();
    var maxSongs = 5;
}

@for (int i = 0; i < Model.Count && i < maxSongs; i++)
{
    var item = Model[i];
    var itemId = item.Id;
    var content = item.MediaContent[0];
    if (i == 0)
    {
        <div class="col song-card" >
            <div class="card" style="height: 332px; width: 234px">
                <img src="@content.Value" class="card-img-top" alt="Bài Hát 1">
                <div class="card-bodys" style="text-align:center;  padding-top: 10px">
                    <a class="card-text" href="/media/play?id=@itemId">@item.Name - @item.Author?.Name</a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col song-card">
            <div class="card" style="height: 332px;  width: 234px">
                <img src="@content.Value" class="card-img-top" alt="Bài Hát 1" style="height: 252px;">
                <div class="card-bodys" style="text-align:center; padding-top: 10px">
                    <a class="card-text" href="/media/play?id=@itemId">@item.Name - @item.Author?.Name</a>
                </div>
            </div>
        </div>
    }
}
