@{
    var data = ViewBag.Data;
    ViewData["Title"] = "Tìm kiếm";
    int type = (int)(ViewData["Type"] ?? 0);
    var nextPageEnable = data.Page == data.TotalPage ? "disabled" : "";
    var previousPageBtnEnable = data.Page > 1 ? "" : "disabled";
    var previousPageLink = $"/home/search?type={ViewData["Type"]}&searchText={ViewData["searchText"]}&page={data.Page - 1}";
    var nextPageLink = $"/home/search?type={ViewData["Type"]}&searchText={ViewData["searchText"]}&page={data.Page + 1}";
    var changePreviousPageLink = $"/home/search?type={ViewData["Type"]}&searchText={ViewData["searchText"]}&page=1";
    var changeNextPageLink = $"/home/search?type={ViewData["Type"]}&searchText={ViewData["searchText"]}&page=1";
    var musicSideBarStyle = type == 0 ? "side-bar-active" : "";
    var authorSideBarStyle = type == 1 ? "side-bar-active" : "";
    var categoryideBarStyle = type == 2 ? "side-bar-active" : "";
}

<div class="content-container d-flex">

    <div style="width: 20%;" class="side-bar">
        <a class="nav-link text-dark @musicSideBarStyle" href="/home/search?type=0&searchText=@ViewData["searchText"]&page=1">Bài hát</a>
        <a class="nav-link text-dark @authorSideBarStyle" href="/home/search?type=1&searchText=@ViewData["searchText"]&page=1">Ca sĩ</a>
        <a class="nav-link text-dark @categoryideBarStyle" href="/home/search?type=2&searchText=@ViewData["searchText"]&page=1">Thể loại nhạc</a>
    </div>
    <div style="width: 80%; padding-left: 20px;">
        @if (ViewData["searchText"] != null && !string.IsNullOrWhiteSpace(ViewData["searchText"].ToString()))
        {
            <h3 style="text-align:center;">Kết quả tìm kiếm: @ViewData["searchText"]</h3>
        }
        @if(data.TotalItems > 0)
        {
            @if (type == 0)
            {
                <div class="card-list-container d-flex justify-content-center">
                    @foreach (var item in data.Items)
                    {
                        <partial name="./Common/Media/_musicCardTemplatePartial" model=@item />
                    }
                </div>

            }
            else if (type == 1)
            {
                <table class="table" style="background-color: white; border-radius: 4px;">
                    <thead>
                        <tr>
                            <th scope="col">Số thứ tự</th>
                            <th scope="col">Tên ca sĩ</th>
                            <th scope="col">Số bài hát</th>
                            <th scope="col">Số lượt nghe</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (var i = 0; i < data.Items.Count; i++)
                        {
                            var item = data.Items[i];
                            var index = i + 1 + (data.Page - 1) * data.PageSize;
                            <tr>
                                <th scope="row">
                                    @index
                                </th>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.NumberOfTracks
                                </td>
                                <td>
                                    @item.Views
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            }
            else
            {
                <table class="table" style="background-color: white; border-radius: 4px;">
                    <thead>
                        <tr>
                            <th scope="col">Số thứ tự</th>
                            <th scope="col">Tên thể loại</th>
                            <th scope="col">Số bài hát</th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (var i = 0; i < data.Items.Count; i++)
                        {
                            var item = data.Items[i];
                            var index = i + 1 + (data.Page - 1) * data.PageSize;
                            <tr>
                                <th scope="row">
                                    @index
                                </th>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.NumberOfTracks
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <div class="d-flex justify-content-end">
                <a href="@previousPageLink" class="page-link rounded-3 @previousPageBtnEnable">Trang trước</a>
                <div class="page-link page-number rounded-3 text-black">@data.Page / @data.TotalPage</div>
                <a href="@nextPageLink" class="page-link rounded-3 @nextPageEnable">Trang sau</a>
            </div>

        }
        else
        {
            <div style="text-align:center;">Không tìm thấy kết quả nào</div>

            
        }
    </div>
</div>


<style>
    .page-link {
        width: 120px;
        text-align: center;
    }

    .page-number {
        width: auto;
        text-align: center;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
        color: gray;
    }

    .side-bar a{
        background-color: white;
        margin: 1px;
        border-radius: 4px;
        border: 1px solid black;
    }

    .side-bar-active{
        background-color: #9747FF !important;
    }
</style>