@{
    var data = ViewBag.AuthorData;
    var nextPageEnable = data.Page == data.TotalPage ? "disabled" : "";
    var previousPageBtnEnable = data.Page > 1 ? "" : "disabled";
    var previousPageLink = $"/author/index?searchText={ViewData["searchAuthor"]}&page={data.Page - 1}";
    var nextPageLink = $"/author/index?searchText={ViewData["searchAuthor"]}&page={data.Page + 1}";
    var roleClaim = User.Claims.FirstOrDefault(p => p.Type == "role");
    var isAdminRole = roleClaim != null && roleClaim.Value == "admin";
    ViewData["ManagePage"] = isAdminRole ? "text-dark" : "";
    ViewData["Title"] = isAdminRole ? "Quản trị ca sĩ" : "Danh sách ca sĩ";

}

<div class="col-10" style="margin-bottom: 24px; margin-top: 44px">
<div class="content-container">
    <h3 style="text-align:center; color: white">Danh sách ca sĩ</h3>
    @if (isAdminRole)
    {
        <div class="d-flex flex-row-reverse">
            <a style="width: 100px;" class="d-block rounded-3 btn btn-success mx-1" href="/author/add">Thêm</a>
        </div>
    }
        <table class="table" style="background-color: white; border-radius: 4px;">
        <thead>
            <tr>
                <th scope="col">Số thứ tự</th>
                <th scope="col">Tên ca sĩ</th>
                <th scope="col">Số bài hát</th>
                <th scope="col">Số lượt nghe</th>
                @if (isAdminRole)
                {
                    <th scope="col">Hành động</th>
                }
            </tr>
        </thead>

        <tbody>
            @for (var i = 0; i < data.Items.Count; i++)
            {
                var item = data.Items[i];
                var index = i + 1 + (data.Page - 1) * data.PageSize;
                <tr>
                    <td scope="row">
                        @index
                    </td>
                    <td>
                        <a href="/author/getdetail?id=@item.Id" class="text-dark">@item.Name</a>
                    </td>
                    <td>
                        @item.NumberOfTracks
                    </td>
                    <td>
                        @item.Views
                    </td>
                    @if (isAdminRole)
                    {
                        <td class="d-flex">
                            <a class="d-block rounded-3 btn btn-primary mx-1" href="/author/getdetail?id=@item.Id">Xem</a>
                            <a class="d-block rounded-3 btn btn-warning mx-1" href="/author/update?id=@item.Id">Sửa</a>
                            <a class="d-block rounded-3 btn btn-danger mx-1" href="/author/delete?id=@item.Id">Xóa</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
        
    </table>
    <div class="d-flex justify-content-end">
        <a href="@previousPageLink" class="page-link rounded-3 @previousPageBtnEnable">Trang trước</a>
        <div class="page-link page-number rounded-3 text-black">@data.Page / @data.TotalPage</div>
        <a href="@nextPageLink" class="page-link rounded-3 @nextPageEnable">Trang sau</a>
    </div>

</div>
</div>

<style>
    .page-link {
        width: 120px;
        text-align: center;
    }

    .page-number {
        width: auto;
        text-align: center;
    }

    a.disabled {
        pointer-events: none;
        cursor: default;
        color: gray;
        text-decoration: none;
    }
</style>